/* ---- poppins font link --- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

/* ----- variables ------ */
:root{
    --body-color:rgb(231, 222, 222) ;
    --color-white:rgb(250,250,250) ;

    --text-color-second:rgb(68,68,68) ;
    --text-color-third:rgb(30,160,170) ;

    --first-color:rgba(140, 114, 237, 0.895) ;
    --first-color-hover:rgb(40,90,200) ;

    --second-color:rgb(0,200,250) ;
    --third-color:rgb(190,166,49) ;
    --first-shadow-color:rgb(0,0,0,0.1) ;

}
/* ----- base ------ */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins , sans-serif;
}
/* ----- smooth scroll ------ */
html{
    scroll-behavior: smooth;
}

/* ----- scroll bar design ------ */
::-webkit-scrollbar{
width: 10px;
border-radius: 25px;
}
::-webkit-scrollbar-track{
    background: #e8e6e6;
}
::-webkit-scrollbar-thumb{
    background: #a8a5a5;
    border-radius: 30px;

}
::-webkit-scrollbar-thumb:hover{
    background: #bbb;
    

}


/* ----- REUSEABLE CSS  ------ */
/* ----- GLOBAL BUTTON DESIGN ------ */
.btn{
    font-weight: 500;
    padding: 12px 20px;
    background: #efefef;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s;
}
.btn>i{
    margin-left: 10px;
}
.btn:hover{

background: var(--second-color);
color: var(--color-white);
}
/* ----- icon design ------ */
i{
    font-size: 16px;
}
/* ----- base ------ */
body{

    background: var(--body-color);
}
.container{
    background:;
    width: 100%;
    position: relative;
}
/* ----- nav bar design ------ */
nav{
    position: fixed;
    border-radius: 0px 0px 20px 20px;
    padding:2px;
    justify-content: space-between;
    width: 100%;
    height: 70px;
    line-height: 90px;
    background:var(--body-color); 
    padding-inline: 9vw;
    z-index: 100;
	display:flex;
    align-items: center;
    box-shadow: 0px 2px 5px 0px rgba(0.1, 0, 0, 0.25);

    
}
.nav-logo{
    position: relative;
    font-size: 30px;
    font-weight: 600;
    color: var(--text-color-third);
}
.nav-logo span{
    font-size: 1em;
    color: var(--first-color);
}

.nav-menu, .nav_menu_list{
    transition: color o.3s ease;
    display: flex;
 
}
.nav-menu, .nav_menu_list :hover{
    color: var(--first-color);
}
.nav_menu_list li{
    list-style: none;
}
.nav_menu_list a{
    text-decoration: none;
    padding-inline: 15px;
    margin-inline: 20px;
    font-weight: 501;
    color: var(--text-color-second);
    
}
.nav-menu-btn{
    display: none;
    z-index: 99;

}
.nav-menu-btn i{
    font-size: 28px;
    cursor: pointer;
}
/* ----- WRAPPER DESIGN ----- */
.wrapper{
    padding-inline: 10vw;
}
/* ----- FEATURED BOX ----- */
.featured-box{
    position: relative;
    display: flex;
    height: 100vh;
    min-height: 700px;
}
/* ----- FEATURED TEXT BOX ----- */
.featured-text{
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
    min-height: 80vh;
    flex-direction: column;
    width: 50%;
    padding-left: 20px;
}
.featured-text-card span{
    background: var(--first-color);
    color: var(--color-white);
    padding: 3px 8px;
    font-size: 22px;
    border-radius: 5px;
}
.featured-name{
    font-size: 50px;
    font-weight: 600;
    color: var(--text-color-second);
    margin-block: 20px;
}
.typedText{
    text-transform: capitalize;
    color: var(--text-color-third);
}
.featured-text-info{
    font-size: 15px;
    margin-bottom: 30px;
    color: var(--text-color-second);
}
.featured-text-btn{
    display: flex;
    gap: 20px;
}
.featured-text-btn>.blue-btn{
    background: var(--first-color);
    color: var(--color-white);
}
.featured-text-btn>.blue-btn:hover{
    background: var(--first-color-hover);
}
.social_icons{
    display: flex;
    margin-top: 5em;
    gap: 30px;
}
.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}
.icon:hover{
    color: var(--first-color);
}
/* ----- FEATURED IMAGE BOX ----- */
.featured-image{
    display: flex;
    justify-content: right;
    align-content: center;
    min-height: 80vh;
    width: 50%;
}
.image{
    margin: auto 0;
    width: 380px;
    height: 380px;
    border-radius: 20% 20% 20% 20%;
    overflow: hidden;
    animation: imgFloat 7s ease-in-out infinite;
}
.image img{
    width: 380px;
    height: 380px;
    object-fit: cover;
}



 /*---      NOW ALL SECTION DESIGN IS COMMON -  LIKE ABOUT , PROJECT , CONTACT INTO ETC..---*/
 .section{
    padding: 90px;
    border-radius: 20px;
    margin-top: 40px;

    box-shadow: 0px 2px 5px 0px rgba(0.1, 0, 0, 0.25);
}

 /* ----- ABOUT INFO ----- */
.about-info{
    
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-block: 30px 70px;
    padding-inline: 20px;
    width: 100%;
    background: var(--color-white);
    box-shadow: 1px 8px 10px 2px var(--first-shadow-color);
    border-radius: 20px;
    
}
.about-info p{
    text-align: center;
    font-size: 15px;
    color: #777;
}
.about-btn button{
    position: absolute;
    right: 20px;
    bottom: 20px;
    background: var(--first-color);
    color: var(--color-white);
    border-radius: 30px;
}
.about-btn button:hover{
    background: var(--first-color-hover);
}
/* ----- ABOUT / SKILLS BOX ----- */
.skills-box{
    margin: 10px;
}
.skills-header{
    margin-bottom: 30px;
}
.skills-list{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}
.skills-list span{
    font-size: 14px;
    background: var(--first-color);
    color: var(--color-white);
    padding: 2px 10px;
    border-radius: 5px;
}




/* ---------------------------------- PROJECTS BOX ------------------------------------------- */
/*--- all section are same design ---*/
.section{
    padding: 90px;
    border-radius: 20px;
    margin-top: 40px;
    box-shadow: 0px 2px 5px 0px rgba(0.1, 0, 0, 0.25);
}
.project-container{

    width: 100%;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
   

    overflow: hidden;
    
    
}
.prev,.next{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    background: var(--first-color);
    color: var(--color-white);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);


    
}
.prev,.next i{
    color:var(--color-white);
    
}
.next:hover{
    background: var(--first-color-hover);

}
.prev:hover{
    background: var(--first-color-hover);
}
.left-right_icons{
    display:flex;
    margin-top: 5em;
    
    justify-content: space-between;
    
}
.prev {
    left:0;
    z-index:1 ;
}

.next {
    right: 0;
    z-index: 1;
}

     .slider {
    display:flex;
    max-width: 700px;
    height: 400px;
    transition: transform 0.9s ease;
}

.box {
    position: relative;
    width: 40%;
    overflow: hidden;
    align-items: center;
    flex: 1 0 33.33%;
    box-sizing: border-box;
    padding:1px;
    margin: 10px;
    border-radius: 20px;
    text-align: center;
    border: 1px solid #ccc;
    background-color: #c5bbbb;
    
    box-shadow: 1px 2px 5px 2px var(--first-shadow-color);
    transition: 1s;

}
.box:hover {
    transform: scale(1.05);
}


/* show  <a>  project link --*/
.box a::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:black;
    opacity: 0; /* Initial opacity */
    transition:  0.5s ease-in-out; /* Add transition for smooth effect */
     /* Match the border-radius of the .box */
    z-index:1; /* Ensure it overlays the image */
}

.box a:hover::after {
    opacity: 0.5; /* Adjust opacity to create fade effect */
}
/* --- show  h3 open project after hover  ----*/ 
.box h3 {
    display: none;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    z-index: 2; /* Ensure it appears above the overlay */
}

.box:hover h3 {
    color: white;
    display: block;
}




/*---    project pics box  ----*/

.box img{

    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
	
}
/* -------- --------- CONTACT BOX ---------------------------- */
.row-box{
    padding: 20px;
}
.contact-info{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 30px;
    width: 100%;
    height: 250px;
    background: var(--first-color);
    border-radius: 10px;
    box-shadow: 1px 8px 10px 2px var(--first-shadow-color);
    overflow: hidden;
}

.contact-info>h2{
    color: var(--color-white);
    margin-bottom: 20px;
}
.contact-info p>a{
    color: var(--color-white);
    text-decoration: none; /* Remove underline */
}
.contact-info p>a:hover{
    cursor: pointer;
    color: var(--first-color-hover);

}
.contact-info>p{
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--color-white);
    margin-block: 5px;
}
.contact-info p>i{
    font-size: 18px;
}
.form-control{
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}
.form-inputs{
    display: flex;
    gap: 10px;
    width: 100%;
}
.input-field{
    width: 50%;
    height: 40px;
    background: transparent;
    border: 2px solid #AAA;
    border-radius: 10px;
    padding-inline: 20px;
    outline: none;
}
textarea{
    width: 100%;
    height: 100px;
    background: transparent;
    border: 2px solid #AAA;
    border-radius: 10px;
    padding: 15px 20px;
    outline: none;
    resize: none;
}
.form-button>.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--first-color);
    color: var(--color-white);
}
.form-button>.btn:hover{
    background:var(--first-color-hover);
}
.form-button i{
    font-size: 18px;
    rotate: -45deg;
}
/*--- click send button and show p message ---*/

#successMessage {
    display: none;
    color:var(--first-color-hover);
    font-weight: bold;
}





/* ----- FOOTER BOX ----- */
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 30px;
    background: var(--body-color);
    padding-block: 40px 60px;
}
.top-footer p{
    font-size: 25px;
    font-weight: 600;
}
.middle-footer .footer-menu{
    display: flex;
}
.footer_menu_list{
    list-style: none;
}
.footer_menu_list a{
    text-decoration: none;
    color: var(--text-color-second);
    font-weight: 500;
    margin-inline: 30px;
}
.footer-social-icons{
    display: flex;
    gap: 30px;   
}
.bottom-footer{
    font-size: 14px;
    margin-top: 10px;
}


/* ----- smooth scroll ------ */
/* ----- smooth scroll ------ */
/* ----- smooth scroll ------ */
/* ----- smooth scroll ------ */

/* -------------------------- resposive media queriess-  --------------------------*/

/* Responsive Design menu bar nav bar */
@media screen and (max-width: 770px) {
    nav {
        padding-inline: 4vw;
    }
    .nav-menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 70px;
        right: 0;
        background: var(--body-color);
        width: 100%;
        text-align: center;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
    }
    .nav-menu.show {
        display: flex;
    }
    .nav_menu_list {
        flex-direction: column;
        padding: 10px 0;
    }
    .nav_menu_list a {
        padding: 10px 0;
        margin: 5px 0;
    }
    .nav-menu-btn {
        display: block;
    }

       /*-- project section ---*/
   #projects{
    padding: 20px;
}
.project-container{
    justify-content: center;
}
.box{
    flex: 1 0 55%;
}

}
/* ----- media query == 900px / reposive  ------ */
@media only screen and (max-width: 900px){
   
.featured-box{
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

.social_icons{
    margin-top: 2em;
}
.featured-image{
    order: 1;
    justify-content: center;
    min-height: 150px;
    width: 100%;
    margin-top: 90px;
}
.image, .image img{
    width: 170px;
    height: 170px;
}
.featured-text{
    width: 100%;
    padding-top: 40px;
    order: 2;
    justify-content: center;
    align-content: flex-start;
    min-height: 60vh;
}
.social_icons{
    margin-top: 2em;
}
.featured-image{
    order: 1;
    justify-content: center;
    min-height: 150px;
    width: 100%;
    margin-top: 65px;
}
.image, .image img{
    width: 150px;
    height: 150px;
}
.row{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
}
.col{
    display: flex;
    justify-content: center;
    width: 100%;
}
.about-info, .contact-info{
    width: 100%;
}

   /*-- project section ---*/
   #projects{
    padding: 20px;
}
.project-container{
    justify-content: center;
}
.box{
    flex: 1 0 35%;
}

}



/* ----- MEDIA QUERY == 540px / RESPONSIVE ----- */
@media only screen and (max-width: 540px){
    .featured-name{
        font-size: 40px;
    }
    /*--- about section --*/
    #about{
        padding: 10px;
    }

    /*-- project section ---*/
    #projects{
        padding: 10px;
    }


    .box {
        position: relative;
        width: 100%;
        overflow: hidden;
        align-items: center;
        flex: 1 0 70%;
        box-sizing: border-box;
        padding:1px;
        margin: 10px;
        border-radius: 20px;
        text-align: center;
        border: 1px solid #ccc;
        background-color: #c5bbbb;
        
        box-shadow: 1px 2px 5px 2px var(--first-shadow-color);
        transition: 1s;
    
    }
    /*--  contact / form section ---*/
    #contact{
        padding: 10px;
    }
    .form-inputs{
        flex-direction: column;
    }
    .input-field{
        width: 100%;
    }
}




/* ----- media query == 900px / reposive  ------ */

/* ----- media query == 900px / reposive  ------ */



